.create-portfolio-wrapper {
  background-color: #1e1e2f;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 20px auto;
  margin-top: 150px;

  h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .form-control {
    margin-bottom: 20px;

    label {
      display: block;
      color: #b2b2b2;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="file"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #4a4a4a;
      border-radius: 5px;
      background-color: #2b2b3d;
      color: #fff;
      font-size: 14px;
      transition: border 0.3s;

      &:focus {
        outline: none;
        border: 1px solid #7241FF;
      }
    }

    textarea {
      min-height: 100px;
      resize: none;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #7241FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #5e32cc;
    }
  }

}

.toggle-description {
  height: 0px;
  border: none;
  background: none;
  cursor: pointer;
  color: #7241FF;
  font-size: 20px;
  margin-left: 10px;

  .arrow {
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.description {
  margin-top: 10px;
  padding: 10px;
  background-color: #2b2b3d;
  border-radius: 5px;
  color: #fff;
}

