@import "../../../assets/styles/_setting.scss";

.set-up {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 50px 0;
    background-color: #010314;
    padding: 100px 130px;

    .left {
        flex: 1; 
        h1 {
            font-size: 50px;
            font-weight: 500;
            color: $light;  
            margin-bottom: 20px;
        }

        p {
            background: linear-gradient(to right, red, #9b73ff, #7E33E0);
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 25px;
            font-family: 'Roboto', sans-serif;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .right {
        flex: 1; 
        display: flex;
        flex-direction: column;

        .img {
            img {
                width: 100%;
            }
        }

        .discription {
            color: $light;
            font-size: 20px;
            font-weight: 300;
            margin-top: 20px;

            p {
                margin-bottom: 20px;
            }

            button {
                background-color: transparent;
                padding: 11px 25px;
                border-radius: 20px;
                border: 2px #2A2B3A solid;
                color: $light;
                cursor: pointer;
                transition: border 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    border: 2px #7241FF solid;
                    box-shadow: 1px 1px 10px #7241FF;
                }
            }
        }
    }
}
