@import "../../../assets/styles/_setting.scss";

.top-rated-rpt {
    @include flex(column, center, center);
    gap: 20px;
    padding: 50px;
    background-color: $background-dark;
    color: $light;
    
    h1 {
        font-size: 30px;
        display:block;
    }

    .top-rated-wrapper {
        @include grid(2, 1fr);
        padding: 100px 50px;
        gap: 70px;
        width: 100%;
        
        
        .top-rated-item {
            @include flex(column, center, center);
            gap: 20px;
            width: 90%;
            box-shadow: 1px 1px 20px #7241FF;
            border-radius: 20px;
            padding: 50px 30px 10px 30px;
            margin-left: 38px;
            img {
                margin-left: 50px;
                margin-top: 20px;
                margin-bottom: 15px;
                width: 80%;
                border-radius: 30px; ;
            }
            
            .top-rated-item-content {
                @include flex(column, start, center);
                gap: 20px;
                width: 100%;

                h4{
                    font-size: 20px;
                    margin-bottom: 25px;
                    font-family: 'Roboto', sans-serif;
                    background: linear-gradient(to right,#7e33e05d , #9b73ff, rgba(8, 4, 88, 0.449));
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    font-weight: 500;
                }
                p {
                    color: #77798F;
                }
            }
        }
    }
}