@import "../../../assets/styles/_setting.scss";

nav {
    background-color: #010314;
    padding: 10px 50px;
    width: 100%;
    height: 90px;
    @include flex(row, center, space-between);
    
    .links {
        @include grid(6, 1fr, 20px);
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
        gap: 20px;
        width: 100%; 
        a {
            color: $light;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            flex: 1; 

            &.active {
                // background-color: $red;
                color: white;
            }

            &:hover {
                color: $violet;
            }
        }
        .buttons{
            display: flex;
            flex: 1;
            justify-content:flex-end;
            gap: 10px;
            button {
                background-color: transparent;
                padding: 10px 25px;
                border-radius: 20px;
                border: 2px #2A2B3A solid;
                color: $light;
                cursor: pointer;
            }
            
            & button:hover {
                border: 2px #7241FF solid;
                box-shadow: 1px 1px 10px #7241FF;
            }
        }
    }
}
