@import "../../../assets/styles/_setting.scss";

nav {
    background-color: #010314;
    padding: 10px 50px;
    width: 100%;
    height: 90px;
    @include flex(row, center, space-between);

    .main {
        @include grid(2, 1fr, 20px);
        grid-template-columns: 1.2fr 5fr;
        gap: 20px;
        width: 100%;
        padding-top: 10px;

        .first {
            margin-top: 10px;

            .logo {
                width: 100%;
                text-align: left;
                cursor: auto;

                img {
                    cursor: pointer;
                }

                &.active {
                    border-bottom: none;
                }
            }
        }

        .second {
            .links {
                @include grid(6, 1fr, 20px);
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
                gap: 20px;
                width: 100%;
                text-align: center;
                margin-left: 50px;

                a {
                    height: 40px;
                    color: $light;
                    text-decoration: none;
                    padding: 10px 15px;
                    border-radius: 5px;
                    flex: 1;
                    text-align: center;
                    transition: color 0.3s ease, border-color 0.3s ease;

                    &.active {
                        color: white;
                        border-bottom: 2px solid $violet;
                    }

                    &:hover {
                        color: $violet;
                    }
                }

                .buttons {
                    margin-left: 50px;

                    button {
                        background-color: transparent;
                        padding: 10px 25px;
                        border-radius: 20px;
                        border: 2px #2A2B3A solid;
                        color: $light;
                        cursor: pointer;
                    }

                    button:hover {
                        border: 2px #7241FF solid;
                        box-shadow: 1px 1px 10px #7241FF;
                    }

                    button.active {
                        border: 2px #7241FF solid;
                        box-shadow: 1px 1px 10px #7241FF;
                    }
                }
            }
        }
    }
}

#burger-menu-wrapper {
    width: 50px;
    height: 35px;
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
    @include grid(1, 1fr, 6px);
    grid-template-rows: repeat(3, 1fr);
    display: none;

    div {
        display: block;
        width: 100%;
        height: 5px;
        background: blue;
    }
}

@media (max-width: $xx-large) {
    nav {
        .main {
            .second {
                .links {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: $x-large) {
    nav {
        .main {
            .second {
                .links {
                    .buttons {
                        margin-left: 0px;

                        button {
                            padding: 9px 23px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $large) {
    nav {
        .main {
            .second {
                .links {
                    margin-left: 30px;

                    a {
                        font-size: 12px;
                        height: 38px;
                    }

                    .buttons {
                        margin-left: 0px;

                        button {
                            padding: 9px 15px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $medium) {
    nav {
        .main {
            .second {
                display: none;
            }
        }

        &.open {
            .main {
                .second {
                    width: 100%;
                    display: block;
                    position: absolute;
                    right: 40px;
                    height: 150vh;
                    .links {
                        padding: 50px;
                        position: relative;
                        bottom: 30px;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.169);
                        backdrop-filter: blur(10px);
                        @include flex(column, center, center, 0);
                        gap: 20px;
                        text-align: center;
                    }
                }
            }
        }

        #burger-menu-wrapper {
            position: absolute;
            right: 60px;
            top: 34px;
            display: block;
            gap: 6px;
            width: 40px;

            div {
                width: 100%;
                height: 5px;
                margin-top: 5px;
            }
        }
    }
}